/* general */
* {
  box-sizing: border-box; 
}

html {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0; 
  background-color: black;
  font-size: 2em;
  color: black;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

h1 {
  font-family: 'Merriweather', serif;
  color: white;
  font-size: 3em;
  padding: 60px;
  display: block;
  margin-top: 0;
  margin-bottom: 60px;
  font-weight: 800;
  background-color:black;
  text-align: center;
}

h1 span {
  color: gray;
  font-size: 0.6em;
  padding: 2px;
}

/* main information about card */
.column {
  text-align: left;
  height: 60vh;
  margin-bottom: 0;
}

/* card picture */
#pic {
  width: 100%; 
  height: 100%;
  min-height: 100vh;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* styles for information field*/
#card{
  padding: 5px;
}

/* image preloader */
.loader {
  margin: 0 auto;
  border: 16px solid #dddddd; 
  border-top: 16px solid #000000; 
  border-radius: 50%;
  position: absolute;
  top: 45vh;
  left: 0;
  right: 0;
  width: 120px;
  height: 120px;
  animation: spin 4s infinite linear;
  animation-duration: 3s;
  -webkit-animation: spin 4s infinite linear;
  -webkit-animation-duration: 3s;
  visibility: hidden;
  opacity: 0.7;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@-webkit-keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* text effect */
h1 span {
  animation: color 26s infinite linear;
  -webkit-animation: color 26s infinite linear;
}

@keyframes color {
  0% { color: white; }
  20% { color: rgb(42, 115, 138); }
  40% { color: rgb(44, 139, 65); }
  60% { color: rgb(145, 41, 41); }
  80% { color: rgb(34, 34, 34); }
  100% { color: rgb(255, 255, 255); }
}

@-webkit-keyframes color {
  0% { color: white; }
  20% { color: rgb(42, 115, 138); }
  40% { color: rgb(44, 139, 65); }
  60% { color: rgb(145, 41, 41); }
  80% { color: rgb(34, 34, 34); }
  100% { color: rgb(255, 255, 255); }
}

/* effect on app load */
html {
  animation: blink 2s linear;
  -webkit-animation: blink 2s linear;
}

@keyframes blink {
  0% { opacity: 0; }
  25% { opacity: 0.25; }
  50% { opacity: 0.5; }
  75% { opacity: 0.75; }
  100% { opacity: 1; }
}

@-webkit-keyframes blink {
  0% { opacity: 0; }
  25% { opacity: 0.25; }
  50% { opacity: 0.5; }
  75% { opacity: 0.75; }
  100% { opacity: 1; }
}

/* ______________________________________________________________________ */
/*----media group----*/
/* Large desktops and laptops */
@media (min-width: 1200px) {
   
}

/* ______________________________________________________________________ */
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  
}

/* ______________________________________________________________________ */
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}
/* ______________________________________________________________________ */
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  
  h1 {
    line-height: 1.3em;
    padding:20px;
  }
  img#pic {
    margin-bottom: 20px;
  }
  /* #get-card {
    margin:80px 0 30px 0;
  } */

}
/* ______________________________________________________________________ */

/* Portrait phones and smaller */
@media (max-width: 480px) {
  h1 {
    font-family: 'Merriweather', serif;
    color: white;
    font-size: 1.3em;
    padding: 20px;
    display: block;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 800;
    background-color:black;
    text-align: center;
  }

  h1 span {
    display: block;
    color: gray;
    font-size: 0.6em;
    padding: 2px;
  }
  
  #get-card {
    width: 100%;
    padding:18px 0;
    font-size: 1.3em;
    border-radius: 0;
    border: 0;
    margin-top: 5px;
  }

  #pic {
    display: block;
    width:100%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
/* ______________________________________________________________________ */


